html,body {
    background-color: #c0c0c0;
}

h1 {
    font-size: larger;
    text-align: center;
}

p {
    padding: 10px;
}

#content {
    background-color: #ffffff;
    width: 610px;
    margin: auto;
    margin-top: 100px;
}

.plot_container {
    padding-top: 20px;
    margin: auto;
}

.plot {
    width: 600px;
    height: 250px;
    margin: auto;
}

.message {
    padding: 40px;
    border: 2px solid black;
    border-radius: 25px;
    background-color: white;
}